body {
    background-color: #edd9c6;
}

hr {
    border-color: #d1916e;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 20%;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(192, 181, 119);
    font-family: Bradley Hand;
}

.chess {
    overflow: hidden;
    position: relative;
}

.chess-bg {
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
    width: 75%;
    height: auto;
    z-index: -1;
}

.chess:hover {
    opacity: 0.8;
    background-image: url(../images/Original\ chess\ image.png);
    width: 75%;
    height: auto;
}

.profile-content {
    position: relative;
}


#name {
    font-family: Luminari, fantasy;
    font-weight: 900;
}

.emoji-original {
    opacity: 0.2;
}
.emoji {
    opacity: 0.8;
}

.emoji:hover {
    opacity: 1
}

.emoji-original:hover {
    opacity: 1;
}
