body {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.head {
    text-align: center;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 3px 3px grey;
}

.buttons button {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    transition: 0.5s;
}

.buttons button:hover {
    width: 180px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px 10px;
}

.initiate {
    width: 60vh;
    height: 60vh;
    background-color: grey;
    transition: 0.5s;
}

.board .outerCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.5vw;
    height: 14.5vh;
    border-radius: 50%;
    background-color: aqua;
}

.board .innerCircle {
    position: absolute;
    width: 14vh;
    height: 14vh;
    border-radius: 50%;
    background-color: #fff;

}
.board > div {
   display: flex;
   justify-content: center;
   align-items: center;
}

.board .final {
    position: relative;
    right: 90px;
}
.board .first, .board .second{
    position: absolute;
    width: 15vw;
    height: 1vh;
    background-color: black;
    
}

.board .first {
    transform: rotate(45deg);
}
.board .second {
    transform: rotate(-45deg);
}