@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
body, body::after, body::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


body {
    background: linear-gradient(45deg, rgb(222, 176, 176), rgb(217, 184, 121));
}

body hr {
    border-style: none;
    border-top: 1rem dotted rgb(233, 145, 123);
    width: 40vw;
}

a {
    color: inherit;
    text-decoration: none;   
    
}

a:hover {
    cursor: pointer;
}

#name {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    font-size: 1rem;
    gap: 2rem;
}   

.top .about {
    position: absolute;
    top: 75vh;
    transform: translateX(-50%); 
    font-size: 2rem;
    transition: 0.5s 0s;
    
}

.top .about:hover {
    /* so ugly; got to use translateX in animation to avoid translation animation*/
    transform: scale(1.2) translateX(-50%);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
    color:rgba(0, 0, 0, 0.9)
}

body::before {
    content:'';
    position: absolute;
    height: 300vh;
    width: 100vw;
    z-index: -1;
    background: linear-gradient(45deg, rgb(222, 176, 176), rgb(217, 184, 121), rgb(217, 184, 121), rgb(222, 176, 176));
    animation: animate 15s linear infinite;
    background-size: 500% 100%;
}
@keyframes animate
{
    0%
    {
        background-position: 0 0;
    }
    0%
    {
        background-position: 500% 0;
    }
}

#about {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

/* timeline DOM */
body .mainline {
    width:60vw;
    height: 0.1rem;
    background-color: black;
    position: relative;
}

body .sideline {
    --position: 0%;
    position: absolute;
    background-color: black;
    transform: translate(-50%, -50%);
    width: 0.1rem;
    height: 3rem;
    left: var(--position);
}

body .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border: 1rem solid transparent;
    border-top: 0;
    border-bottom: 1rem solid black;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(90deg);
    

}

body .text {
    position: absolute;
    transform: translate(-50%, -50%);
    left: var(--position);
    top: 3rem;
    width: 5rem;
    height: 1rem;
    font-size: 1.5rem;
    transition: 0.5s 0s;
}

body .text:hover {
    opacity: 0.9;
    cursor: pointer;
    transform: scale(1.2) translate(-50%, -50%);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
}

body .projects{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}

#wordtimeline{
    cursor: pointer;
    transition: 0.5s;
}

#wordtimeline:hover {
    transform: scale(1.2);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
}

#footer, #header {
    position: fixed;
    display: flex;
    justify-content: center;
    gap: 10rem;
    align-items: center;
    
    height: 3rem;
    color: rgba(0, 0, 0, 0.8);
}

#footer {
    bottom: 0;
    width: 100vw;
}

#header {
    width: auto;
    top: 0;
    left: 5rem;
    justify-content: left;
}

#footer h3:hover, #header h3:hover {
    color: #fff
}